input{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    height: 20px;
    border-radius: 5px;
}
button{
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    height: 25px;
}

.Valido{
    color: green;
}
.Error{
    color: red;
}